# Ejercicios BeautifulSoup

1. Escribe una función llamada scrape_coches_ocasion que acepta una URL como argumento y devuelve un DataFrame de pandas con información sobre coches de ocasión

Realizará una solicitud HTTP GET a la siguiente url

In [2]:
from bs4 import BeautifulSoup
import requests
# -----------------------------------------------------------------------
import pandas as pd
# -----------------------------------------------------------------------
import re

In [3]:
url_coche = 'https://www.ocasionplus.com/ofertas-especiales'

res_coche = requests.get(url_coche)

if res_coche.status_code == 200:
    print('La llamada se ha realizado con éxito')
else:
    print(F'Error de llamada. {res_coche.status_code}')

La llamada se ha realizado con éxito

In [4]:
sopa_coche = BeautifulSoup(res_coche.content, 'html.parser')

Extraer nombre de los coches, los precios rebajados, los precios originales,  la información de los kilometros

In [9]:
#Extraemos el nombre de los coches:

coches_nombre = sopa_coche.find_all('h2')[1:-5] #Aquí especificando estos índices quitamos los títulos que venían en la página

In [10]:
coches_nombre

[<h2 style="overflow-x:hidden">Fiat Tipo Sedan 1.4 16v Easy (95 CV)</h2>,
 <h2 style="overflow-x:hidden">Citroen C3 PureTech 82 Shine (83 CV)</h2>,
 <h2 style="overflow-x:hidden">Peugeot 308 SW 1.2 PureTech S&amp;S Active (130 CV)</h2>,
 <h2 style="overflow-x:hidden">Citroen C4 PureTech 130 S&amp;S Feel Edition (130 CV)</h2>,
 <h2 style="overflow-x:hidden">Toyota Proace 1.5D GX Plus 1PL 2PT L1 (100CV)</h2>,
 <h2 style="overflow-x:hidden">Dacia Jogger S.L. Extreme TCe (110CV) 7 plazas</h2>,
 <h2 style="overflow-x:hidden">Opel Meriva 1.4 Selective (120CV)</h2>,
 <h2 style="overflow-x:hidden">Hyundai Kona 1.0 TGDI Klass 4x2 (120 CV)</h2>,
 <h2 style="overflow-x:hidden">Renault Kangoo Furgon Z.E. (60 CV) AUTO</h2>,
 <h2 style="overflow-x:hidden">Citroen Grand C4 Picasso BlueHDI 150 Airdream Feel Edition Aut. 7 Plazas (150 CV)</h2>,
 <h2 style="overflow-x:hidden">BMW Serie 3 320i AUTO (184 CV)</h2>,
 <h2 style="overflow-x:hidden">Skoda Fabia 1.0 TSI  (110cv) Ambition Plus</h2>,
 <h2 style="overflow-x:hidden">Audi A3 Sportback Sportback Attracted 1.6 TDI clean diesel 81 kW (110 CV)</h2>,
 <h2 style="overflow-x:hidden">Opel Corsa 1.5D DT Edition (102 CV)</h2>,
 <h2 style="overflow-x:hidden">Audi A1 Sportback Sportback Attraction 1.6 TDI (116 CV)</h2>,
 <h2 style="overflow-x:hidden">Mercedes-Benz Clase C C Coupe 43 Mercedes 4Matic (367 CV) AMG AUTO</h2>,
 <h2 style="overflow-x:hidden">Peugeot Traveller BlueHDi 120 S&amp;S Business Long (120 CV) 9 Plazas</h2>,
 <h2 style="overflow-x:hidden">Peugeot Traveller BlueHDi 120 S&amp;S Business Long (120 CV) 9 Plazas</h2>,
 <h2 style="overflow-x:hidden">BMW X1 sDrive18d (150 CV)</h2>,
 <h2 style="overflow-x:hidden">Peugeot Traveller BlueHDi 120 S&amp;S Business Long (120 CV) 9 Plazas</h2>]

In [11]:
#Los metemos en una lista:

nombres_coches = []
for el in coches_nombre:
    nombres_coches.append(el.text)


print(nombres_coches)

['Fiat Tipo Sedan 1.4 16v Easy (95 CV)', 'Citroen C3 PureTech 82 Shine (83 CV)', 'Peugeot 308 SW 1.2 PureTech S&S Active (130 CV)', 'Citroen C4 PureTech 130 S&S Feel Edition (130 CV)', 'Toyota Proace 1.5D GX Plus 1PL 2PT L1 (100CV)', 'Dacia Jogger S.L. Extreme TCe (110CV) 7 plazas', 'Opel Meriva 1.4 Selective (120CV)', 'Hyundai Kona 1.0 TGDI Klass 4x2 (120 CV)', 'Renault Kangoo Furgon Z.E. (60 CV) AUTO', 'Citroen Grand C4 Picasso BlueHDI 150 Airdream Feel Edition Aut. 7 Plazas (150 CV)', 'BMW Serie 3 320i AUTO (184 CV)', 'Skoda Fabia 1.0 TSI  (110cv) Ambition Plus', 'Audi A3 Sportback Sportback Attracted 1.6 TDI clean diesel 81 kW (110 CV)', 'Opel Corsa 1.5D DT Edition (102 CV)', 'Audi A1 Sportback Sportback Attraction 1.6 TDI (116 CV)', 'Mercedes-Benz Clase C C Coupe 43 Mercedes 4Matic (367 CV) AMG AUTO', 'Peugeot Traveller BlueHDi 120 S&S Business Long (120 CV) 9 Plazas', 'Peugeot Traveller BlueHDi 120 S&S Business Long (120 CV) 9 Plazas', 'BMW X1 sDrive18d (150 CV)', 'Peugeot Traveller BlueHDi 120 S&S Business Long (120 CV) 9 Plazas']

In [12]:
#Sacamos el precio total de los coches (con el descuento)
precios_totales = sopa_coche.find_all('span', {'class': 'price'})

In [13]:
#Sacamos el precio original de los coches sin el descuento
precios_originales = sopa_coche.find_all('span', {'class': 'priceLast'})

In [14]:
lista_precios_totales = []
for el in precios_totales:
    precio = el.text
    precio2 = precio.split('€')
    precio_limpio = precio2[0].replace('.', '')
    lista_precios_totales.append(precio_limpio)

In [15]:
lista_precios_totales

['9000',
 '11545',
 '12636',
 '9450',
 '24363',
 '18090',
 '9000',
 '18627',
 '10727',
 '13545',
 '17450',
 '13172',
 '13954',
 '12363',
 '14955',
 '44454',
 '28400',
 '28445',
 '18150',
 '28354']

In [16]:
precios_originales

[<span class="jsx-2870186023 priceLast">10.350<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">15.600<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">15.870<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">10.990<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">27.800<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">19.990<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">10.900<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">21.490<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">12.200<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">17.750<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">19.500<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">14.990<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">15.700<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">13.650<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">16.700<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">51.500<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">31.250<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">31.300<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">18.500<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">31.200<!-- -->€</span>]

In [17]:
lista_precios_originales = []
for el in precios_originales:
    precio = el.text
    precio2 = precio.split('€')
    precio_limpio = precio2[0].replace('.', '')
    lista_precios_originales.append(precio_limpio)

In [18]:
lista_precios_originales

['10350',
 '15600',
 '15870',
 '10990',
 '27800',
 '19990',
 '10900',
 '21490',
 '12200',
 '17750',
 '19500',
 '14990',
 '15700',
 '13650',
 '16700',
 '51500',
 '31250',
 '31300',
 '18500',
 '31200']

In [19]:
datos = sopa_coche.find_all('span', {'class': 'detail'})

In [20]:
datos = sopa_coche.find_all("span", {"class": "jsx-3960002075 detail big"})

In [23]:
#Sacamos los kilómetros:

lista_km = []

for dato in datos:
    if "km" in dato.getText():
        km = dato.getText().split()
        lista_km.append(km[0].replace('.', ''))

In [24]:
lista_km

['94085',
 '51694',
 '62682',
 '123264',
 '24996',
 '54057',
 '73411',
 '11723',
 '42321',
 '116684',
 '129655',
 '52382',
 '146731',
 '32709',
 '82888',
 '91525',
 '77831',
 '72170',
 '117610',
 '78792']

Crear una función:

In [25]:
def obtener_datos_coche(url):

    # Realizar la llamada
    res_coche = requests.get(url)

    # Verificar el estado de la llamada
    if res_coche.status_code != 200:
        print(F'Error de llamada. {res_coche.status_code}')
    else:
        pass

    sopa_coche = BeautifulSoup(res_coche.content, 'html.parser')

    # Extraer el nombre de los coches
    coches_nombre = sopa_coche.find_all('h2')[1:-5] 
    nombres_coches = []
    for el in coches_nombre:
        nombres_coches.append(el.text)

    # Extraer los precios totales
    precios_totales = sopa_coche.find_all('span', {'class': 'price'})
    lista_precios_totales = []
    for el in precios_totales:
        precio = el.text
        precio2 = precio.split('€')
        precio_limpio = precio2[0].replace('.', '')
        lista_precios_totales.append(precio_limpio)

    # Extraer los precios originales
    precios_originales = sopa_coche.find_all('span', {'class': 'priceLast'})
    lista_precios_originales = []
    for el in precios_originales:
        if el is not None:
            precio_original = el.text.split('€')[0].replace('.', '')
            lista_precios_originales.append(precio_original)
        else:
            lista_precios_originales.append('None')

    # Extraer los kilómetros
    datos = sopa_coche.find_all("span", {"class": "jsx-3960002075 detail big"})
    lista_km = []
    for dato in datos:
        if "km" in dato.getText():
            km = dato.getText().split()
            lista_km.append(km[0].replace('.', ''))

    # Crear el DataFrame
    df_coches = pd.DataFrame({
        "Nombre": nombres_coches,
        "Precio Total (€)": lista_precios_totales,
        "Precio Original (€)": lista_precios_originales,
        "Kilometraje": lista_km
    })

    return df_coches

In [28]:
# Ejemplo de uso
url = 'https://www.ocasionplus.com/ofertas-especiales'
df_coches = obtener_datos_coche(url)

In [30]:
df_coches

,Nombre,Precio Total (€),Precio Original (€),Kilometraje
0,Fiat Tipo Sedan 1.4 16v Easy (95 CV),9000,10350,94085
1,Citroen C3 PureTech 82 Shine (83 CV),11545,15600,51694
2,Peugeot 308 SW 1.2 PureTech S&S Active (130 CV),12636,15870,62682
3,Citroen C4 PureTech 130 S&S Feel Edition (130 CV),9450,10990,123264
4,Toyota Proace 1.5D GX Plus 1PL 2PT L1 (100CV),24363,27800,24996
5,Dacia Jogger S.L. Extreme TCe (110CV) 7 plazas,18090,19990,54057
6,Opel Meriva 1.4 Selective (120CV),9000,10900,73411
7,Hyundai Kona 1.0 TGDI Klass 4x2 (120 CV),18627,21490,11723
8,Renault Kangoo Furgon Z.E. (60 CV) AUTO,10727,12200,42321
9,Citroen Grand C4 Picasso BlueHDI 150 Airdream ...,13545,17750,116684
10,BMW Serie 3 320i AUTO (184 CV),17450,19500,129655
11,Skoda Fabia 1.0 TSI (110cv) Ambition Plus,13172,14990,52382
12,Audi A3 Sportback Sportback Attracted 1.6 TDI ...,13954,15700,146731
13,Opel Corsa 1.5D DT Edition (102 CV),12363,13650,32709
14,Audi A1 Sportback Sportback Attraction 1.6 TDI...,14955,16700,82888
15,Mercedes-Benz Clase C C Coupe 43 Mercedes 4Mat...,44454,51500,91525
16,Peugeot Traveller BlueHDi 120 S&S Business Lon...,28400,31250,77831
17,Peugeot Traveller BlueHDi 120 S&S Business Lon...,28445,31300,72170
18,BMW X1 sDrive18d (150 CV),18150,18500,117610
19,Peugeot Traveller BlueHDi 120 S&S Business Lon...,28354,31200,78792